.about-main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.avatar {
    background-image: linear-gradient(to right, rgba(30, 44, 49, .1), var(--main-back-color)),url(/src/images/Guido-Mantegna-2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.about-me {
    width: 50%;
    letter-spacing: var(--p-letter-spacing);
    font-size: .7em;
    text-align: end;
    text-shadow: 1px 1px rgb(68, 68, 68);
    position: absolute;
    right: 0;
}

.education-header {
    color: var(--title-color);
    letter-spacing: var(--p-letter-spacing);
    position: relative;
    margin: 5px;
    text-align: end;
    font-weight: 400;
}
.education-header::after {
    content: "";
    display: block;
    position: absolute;
    width: 60%;
    bottom: 40%;
    height: 1px;
    background: var(--title-color);
    /* opacity: .25; */
}
.education {
    margin-top: 5px;
    letter-spacing: var(--p-letter-spacing);  
}

.line-num {
    font-family: 'Mitr', sans-serif;
    font-size: 10px;
    min-width: 37px;
}

.education-date {
    display: flex;
}
.education-date > p {
    font-size: .75em;
}
.education-title {
    display: flex;
    width: fit-content;
    cursor: pointer;
}
.education-title > h6 {
    font-size: .8em;
    color: var(--link-color);
    margin-bottom: 4px;
    margin-top: 0;
}
.education > p {
    font-size: .75em;
}
.education-brief {
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding-left: 37px;
    transition: opacity .5s;
}

@media screen and (min-width: 576px) {
    .avatar {
        height: 210px;
    }
}
@media screen and (min-width: 768px) {
    .avatar {
        height: 290px;
    }
    .about-me {
        font-size: .9em;
    }
    .education-header {
        width: 75%;
    }
}

@media screen and (min-width: 1200px) {
    .avatar {
        height: 250px;
        background-size: 70%;
        background-position: inherit;
    }
    .about-me {
        width: 60%;
        font-size: 1em;
    }
    .education-header {
        margin: 15px 5px;
    }
}