:root {
    --main-back-color: rgb(30, 44, 49);
    --main-back-color-deg: rgba(30, 44, 49, .6);
    --title-color: rgb(99, 141, 133);
    --p-color: rgb(190, 173, 173);
    --link-color: rgb(201, 207, 114);
    --p-letter-spacing: .9px;
    --p-line-height: 20px;
    scroll-behavior: smooth;
}

body {
    /* width: 100vw; */
    height: 100vh;
    margin: 0;
    background: var(--main-back-color);
    /* box-sizing: border-box; */
}

a {
    text-decoration: none;
}
a:visited {
    /* color: rgb(209, 189, 189); */
}
a:active {
    color: white;
}

h2, p {
    margin: 0;
}

header {
    height: 10%;
    padding: 0 20px;
    display: none;
    /* display: flex; */
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
}

.header-link {
    margin: 0 10px;
    color: rgb(209, 189, 189);
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: stretch; */
}

.section {
    flex: 1 1 0;
    transition: flex-grow 2s cubic-bezier(0.68, -0.6, 0.32, 1.6), opacity 2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    
}

.section:hover {
    flex-grow: 6;
}

.section:hover .brief {
    opacity: 1;
    /* transform: translateX(0); */
}
.section:hover .brief::after,
.section:hover .brief::before {
    transform: translateX(-30px);
}

.section-name {
    color: rgb(209, 189, 189);
    position: absolute;
    top: 50;
    transition: all 1s;
    display: flex;
}

.section-name:hover {
    display: flex;
}

.brief-title {
    color: var(--title-color);
    margin-bottom: 20px;
}
.brief-desc {
    color: var(--p-color);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-size: .9em;
}

.brief {
    font-family: 'Lato', sans-serif;
    /* border-top: 1px solid rgb(99, 141, 133);
    border-bottom: 1px solid rgb(99, 141, 133); */
    padding: 30px;
    opacity: 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    transition: all 3s;
    position: relative;
}

.brief::after,
.brief::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: darkcyan;
    opacity: .25;
    transition: all 3s;
}

.brief::after {
    bottom: 5px;
    transform: translateX(150%);
}
.brief::before {
    top: 5px;
    transform: translateX(-150%);
}

.about-brief {
    background: linear-gradient(to right, var(--main-back-color), var(--main-back-color-deg), var(--main-back-color)), url(/src/images/Guido-Mantegna-2.JPG);
    background-size: cover;
    background-position: left;
}
.work-brief {
    background: linear-gradient(to right, var(--main-back-color), var(--main-back-color-deg), var(--main-back-color)), url(/src/images/work.jpeg);
    background-size: cover;
}
.skills-brief {
    background: linear-gradient(to right, var(--main-back-color), var(--main-back-color-deg), var(--main-back-color)), url(/src/images/skills.jpg);
    background-size: cover;
}
.others-brief {
    background: linear-gradient(to right, var(--main-back-color), var(--main-back-color-deg), var(--main-back-color)), url(/src/images/Guido-Mantegna-1.jpeg);
    background-size: cover;
    background-position: right;
}
.more-link {
    color: var(--link-color);
    margin-top: 20px;
}

.content {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0 25px; /* recently added */
    display: flex;
    flex-direction: column;
    position: relative;
}

.content-title {
    font-size: 16px;
    color: rgba(255, 127, 80, .4);
    margin: 7.5px;
}

.close-tag {
    position: absolute;
    bottom: 5px;
}

/* ABOUT */

.about-main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.avatar {
    background-image: url(/src/images/Guido-Mantegna-2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* border-radius: 5px; */
    box-sizing: border-box;
    /* border: 2px solid rgba(0, 139, 139, .5); */
    /* padding: 10px; */
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.avatar::after, 
.avatar::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 7.5px;
    
    opacity: .5;
    transition: all 3s;
}

.avatar::after {
    background: darkcyan;
    bottom: 5%;
}
.avatar::before {
    background: rgb(197, 168, 6);
    bottom: 15%;
}

/* .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(247, 194, 62, .1);
} */

/* .about-main {
    padding: 5px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

.about-me {
    color: var(--p-color);
    width: 45%;
    letter-spacing: var(--p-letter-spacing);
    font-size: .7em;
    /* text-align: justify; */
    background-color: rgba(80, 80, 80, 0.5);
    text-shadow: 1px 1px rgb(68, 68, 68);
    box-shadow: -3px 3px rgb(100, 100, 100);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    position: absolute;
    /* bottom: 0; */
    right: 0;
    /* top: 0; */
    z-index: 1;
}

.education-header {
    color: var(--title-color);
    letter-spacing: var(--p-letter-spacing);
    position: relative;
    margin: 0;
    text-align: end;
    font-weight: 400;
}
.education-header::after {
    content: "";
    display: block;
    position: absolute;
    width: 60%;
    bottom: 40%;
    height: 2px;
    background: darkcyan;
    opacity: .25;
}
.education {
    margin-top: 5px;
    letter-spacing: var(--p-letter-spacing);
    /* transition: all .5s; */
    
}

.line-num {
    font-family: 'Mitr', sans-serif;
    color: rgb(209, 189, 189);
    font-weight: lighter;
    font-size: 10px;
    min-width: 37px;
}

.education-date {
    display: flex;
    color: var(--p-color);
}
.education-date > p {
    font-size: .75em;
}
.education-title {
    display: flex;
    cursor: pointer;
}
.education-title > h6 {
    font-size: .8em;
    color: var(--link-color);
    margin-bottom: 4px;
    margin-top: 0;
}
.education > p {
    font-size: .75em;
    color: var(--p-color);
}
.education-brief {
    height: 0;
    overflow: hidden;
    padding-left: 37px;
    /* transition: all .5s; */
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 7.5px;
  }
/* Track */
::-webkit-scrollbar-track {
background: rgb(50, 50, 50); 

}
/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(116, 110, 93);
border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(116, 105, 74); 
}

@media screen and (min-width: 375px) {
    .avatar {
        /* height: 150px; */
    }
}

@media screen and (min-width: 425px) {
    .avatar {
        /* height: 190px; */
    }
}
@media screen and (min-width: 576px) {
    .content {
        padding: 0 15%;
    }
    .avatar {
        /* background: linear-gradient(to right, rgba(30, 44, 49, 0), var(--main-back-color)), url(/src/images/Guido-Mantegna-2.JPG); */
        /* background-size: contain; */
        /* background-repeat: no-repeat; */
        height: 210px;
    }
}

@media screen and (min-width: 768px){
    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .main {
        flex-direction: row;
        height: 90%;
    }

    .section-name {
        display: block;
    }
    .brief {
        height: 100%;
    }
    .avatar {
        height: 290px;
    }
}