:root {
    --main-back-color: rgb(30, 44, 49);
    --main-back-color-deg: rgba(30, 44, 49, .6);
    --title-color: rgb(99, 141, 133);
    --p-color: rgb(190, 173, 173);
    --link-color: rgb(201, 207, 114);
    --p-letter-spacing: .9px;
    --p-line-height: 20px;
    scroll-behavior: smooth;
}

.main-loader {
    color: var(--p-color);
    font-family: "Lato", sans-serif;
    font-size: .8em;
    position: fixed;
    top: 50vh;
    width: 100%;
    padding: 15px 0;
    animation: mainLoader 3s infinite ease-in;
}

@keyframes mainLoader {
    50% {opacity: .25;}
    100% {opacity: 1;}
}

.icon-point-up {
    position: absolute;
    left: 25%;
    bottom: 0;
    margin-right: 5px;
    animation: loaderPointer 5s infinite ;
}

@keyframes loaderPointer {
    50% {transform: translateX(50vw);}
}

h1 {
    text-align: center;
}

body {
    height: 100vh;
    margin: 0;
    background: var(--main-back-color);
    display: none;
}

a {
    text-decoration: none;
}
a:active {
    color: white;
}
h1, h2, p {
    margin: 0;
}

.burguer-btn {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    /* background: rgba(80, 80, 80, 0.75); */
    position: relative;
    z-index: 3;
    /* top: 10px;
    right: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.burguer-line {
    height: 5px;
    background-color: cornsilk;
    transition: transform .3s; 
}

.burguer-line:nth-child(1) {
    width: 100%;
}
.burguer-line:nth-child(2) {
    width: 80%;
}
.burguer-line:nth-child(3) {
    width: 60%;
}
.burguer-line:nth-child(4) {
    position: absolute;
    width: 0;
    top: 23px;
}

.burguer-menu {
    background-color: var(--title-color);
    opacity: .9;
    height: 90vh;
    width: 100%;
    position: fixed;
    z-index: 2;
    right: 0;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: all .3s;
}

.burguer-link {
    color: rgb(209, 189, 189);
    font-size: 1.1em;
    /* font-family: "Lato", sans-serif; */
    letter-spacing: var(--p-letter-spacing);
    margin: 20px 40px;
}

nav {
    background-color: var(--main-back-color);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    overflow: hidden;
    transition: all .3s;
}

.greetings {
    color: var(--p-color);
    font-family: "Lato", sans-serif;
    letter-spacing: var(--p-letter-spacing);
    font-size: 18px;
    position: absolute;
    z-index: -1;
    bottom: 10px;
    left: 23px;
}

.logo {
    margin: 0 20px;
    position: relative;
    width: 150px;
    overflow: hidden;
}

.logo::after,
.logo::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--main-back-color);
    height: 2px;
    z-index: 1;
    animation: cloudEffect 10s infinite ease-in-out;
}

.logo::before {
    bottom: 20px;
    width: 20px;
}

.logo::after {
    bottom: 15px;
    width: 30px;
}

@keyframes cloudEffect {
    50% {transform: translateX(500%);}
}

.icon-cloud {
    color: crimson;
    font-size: 50px;
    animation: cloud 6s infinite;
}

@keyframes cloud {
    50% {opacity: .5}
}

.nav-links {
    display: none;
}

.nav-link {
    margin: 0 20px;
    color: rgb(209, 189, 189);
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.section {
    flex: 1 1 0;
    transition: flex-grow 2s cubic-bezier(0.68, -0.6, 0.32, 1.6), opacity 2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    
}

/* .section:hover {
    flex-grow: 6;
}

.section:hover .brief {
    opacity: 1;
}
.section:hover .brief::after,
.section:hover .brief::before {
    transform: translateX(-30px);
} */

.section-name {
    color: rgb(209, 189, 189);
    position: absolute;
    z-index: 3s;
    height: 35px;
    width: 100px;
    transition: all 1s;
    display: flex;
    justify-content: center;
    cursor: pointer;
    /* overflow: hidden; */
}

.section-name > p {
    display: none;
}

/* .section-name:hover {
    display: flex;
} */

.brief-title {
    color: var(--title-color);
    margin-bottom: 20px;
}
.brief-desc {
    color: var(--p-color);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-size: .9em;
}

.brief {
    font-family: 'Lato', sans-serif;
    /* border-top: 1px solid rgb(99, 141, 133);
    border-bottom: 1px solid rgb(99, 141, 133); */
    padding: 30px;
    opacity: 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    transition: all 3s;
    position: relative;
}

.brief::after,
.brief::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: darkcyan;
    opacity: .25;
    transition: all 3s;
}

.brief::after {
    bottom: 5px;
    transform: translateX(150%);
}
.brief::before {
    top: 5px;
    transform: translateX(-150%);
}

.about-brief {
    background: linear-gradient(to right, var(--main-back-color), var(--main-back-color-deg), var(--main-back-color)), url(/src/images/Guido-Mantegna-2.JPG);
    background-size: cover;
    background-position: left;
}
.work-brief {
    background: linear-gradient(to right, var(--main-back-color), var(--main-back-color-deg), var(--main-back-color)), url(/src/images/work.jpeg);
    background-size: cover;
}
.skills-brief {
    background: linear-gradient(to right, var(--main-back-color), var(--main-back-color-deg), var(--main-back-color)), url(/src/images/skills.jpg);
    background-size: cover;
}
.others-brief {
    background: linear-gradient(to right, var(--main-back-color), var(--main-back-color-deg), var(--main-back-color)), url(/src/images/Guido-Mantegna-1.jpeg);
    background-size: cover;
    background-position: right;
}
.more-link {
    color: var(--link-color);
    margin-top: 20px;
}

.content {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0 25px; /* recently added */
    display: flex;
    flex-direction: column;
    position: relative;
}

.content-title {
    font-size: 16px;
    color: rgba(255, 127, 80, .4);
    margin: 7.5px;
}

/* ABOUT */

.about-main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.avatar {
    background-image: url(/src/images/Guido-Mantegna-2.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* border-radius: 5px; */
    box-sizing: border-box;
    /* border: 2px solid rgba(0, 139, 139, .5); */
    /* padding: 10px; */
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.avatar::after, 
.avatar::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 7.5px;
    
    opacity: .5;
    transition: all 3s;
}

.avatar::after {
    background: darkcyan;
    bottom: 5%;
}
.avatar::before {
    background: rgb(197, 168, 6);
    bottom: 15%;
}

/* .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(247, 194, 62, .1);
} */

/* .about-main {
    padding: 5px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

.about-me {
    color: var(--p-color);
    width: 45%;
    letter-spacing: var(--p-letter-spacing);
    font-size: .7em;
    /* text-align: justify; */
    background-color: rgba(80, 80, 80, 0.5);
    text-shadow: 1px 1px rgb(68, 68, 68);
    box-shadow: -3px 3px rgb(100, 100, 100);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    position: absolute;
    /* bottom: 0; */
    right: 0;
    /* top: 0; */
    z-index: 1;
}

.education-header {
    color: var(--title-color);
    letter-spacing: var(--p-letter-spacing);
    position: relative;
    margin: 0;
    text-align: end;
    font-weight: 400;
}
.education-header::after {
    content: "";
    display: block;
    position: absolute;
    width: 60%;
    bottom: 40%;
    height: 2px;
    background: darkcyan;
    opacity: .25;
}
.education {
    margin-top: 5px;
    letter-spacing: var(--p-letter-spacing);
    /* transition: all .5s; */
    
}

.line-num {
    font-family: 'Mitr', sans-serif;
    color: rgb(209, 189, 189);
    font-weight: lighter;
    font-size: 10px;
    min-width: 37px;
}

.education-date {
    display: flex;
    color: var(--p-color);
}
.education-date > p {
    font-size: .75em;
}
.education-title {
    display: flex;
    cursor: pointer;
}
.education-title > h6 {
    font-size: .8em;
    color: var(--link-color);
    margin-bottom: 4px;
    margin-top: 0;
}
.education > p {
    font-size: .75em;
    color: var(--p-color);
}
.education-brief {
    height: 0;
    overflow: hidden;
    padding-left: 37px;
    /* transition: all .5s; */
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 7.5px;
  }
/* Track */
::-webkit-scrollbar-track {
background: rgb(50, 50, 50); 

}
/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(116, 110, 93);
border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(116, 105, 74); 
}

@media screen and (min-width: 375px) {
    .avatar {
        /* height: 150px; */
    }
}

@media screen and (min-width: 425px) {
    .avatar {
        /* height: 190px; */
    }
}
@media screen and (min-width: 576px) {
    .content {
        padding: 0 15%;
    }
    .avatar {
        /* background: linear-gradient(to right, rgba(30, 44, 49, 0), var(--main-back-color)), url(/src/images/Guido-Mantegna-2.JPG); */
        /* background-size: contain; */
        /* background-repeat: no-repeat; */
        height: 210px;
    }
}

@media screen and (min-width: 768px){
    .burguer-btn {
        display: none;
    }
    nav {
        /* display: flex;
        justify-content: flex-end;
        align-items: center; */
    }
    .main {
        flex-direction: row;
        height: 90%;
    }

    .section-name {
        flex-direction: row;
    }
    .brief {
        height: 100%;
    }
    .avatar {
        height: 290px;
    }
}

@media screen and (min-width: 992px) {
    .content {
        padding: 0 20%;
    }
}