.others-main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.others-content {
    margin: 5px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.others-tags {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.others-tags > label {
    width: 21%;
    padding: 5px;
    text-shadow: 1px 1px rgb(68, 68, 68);   
    font-size: 0.6em;
    font-weight: bold;
    text-align: center;
    transition: all .25s;
    transform: translateY(1px);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.selected-tag {
    background-color: var(--main-back-color);
    border: 1px solid var(--p-color);
    z-index: 1;
    border-bottom: none;
}

.no-selected-tag {
    background-color: rgba(100, 100, 100, .25);
    opacity: .5;
    cursor: pointer;
}

.others-img {
    flex-grow: 1;
    width: 100%;
    min-height: 320px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    box-sizing: border-box;
    border-top: 1px solid var(--p-color);
    border-right: 1px solid var(--p-color);
}

.others-img > div {
    width: 100%;
    border-top: 15px solid var(--main-back-color);
    border-right: 15px solid var(--main-back-color);
}

.selected-img {
    display: flex;
}

.no-selected-img {
    display: none;
}

.ph-img {
    background-image: url('/src/images/photography.JPG');
    background-size: cover;
    background-position: center;    
}
.wood-img {
    background-image: url('/src/images/woodwork-2.jpg');
    background-size: cover;
    background-position: top;
}
.music-img {
    background-image: url('/src/images/music.jpg');
    background-size: cover;
    background-position: center;
}
.sports-img {
    background-image: url('/src/images/bike.jpg');
    background-size: cover;
    background-position: center;
}

.hobby-brief {
    padding: 10px;
    font-size: .75em;
    letter-spacing: var(--p-letter-spacing);
    text-shadow: 1px 1px rgb(51, 51, 51);
}

.hobby-brief > span {
    font-weight: bold;
}

.hobby-brief > a {
    color: var(--link-color);
    font-weight: bold;
}

.selected-brief {
    display: block;
}

.no-selected-brief {
    display: none;
}

.last-tag {
    margin-bottom: 20%;
}

@media screen and (min-width: 375px) {
    .others-tags > label {
        font-size: 0.7em
    }
}

@media screen and (min-width: 576px) {
    .others-tags > label {
        font-size: 0.8em
    }
}

@media screen and (min-width: 768px) {
    .others-content {
        margin: 15px 0;
    }
    .others-tags > label {
        font-size: 0.9em;
        width: 22%;
    }
    .hobby-brief {
        font-size: .95em;
    }
    .last-tag {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .others-content {
        width: 80%;
        align-self: center;
    }
}