.work-main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    position: relative;
}

.work-slide {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    flex-grow: 1;
}

.work-item-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
    transition: all .25s;
    position: absolute;
    border-radius: 5px;
    padding: 0 10px;
}

.current-item {
    transform: translate(0);
    visibility: initial;
}

.work-item-next,
.work-item-prev {
    visibility: hidden;
}

.work-item-prev {
    transform: translateX(-100%);
  }
.work-item-next {
    transform: translateX(100%);
}

.work-title {
    color: var(--title-color);
    font-size: 1.1em;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.project-link {
    margin-left: 5px;
}

.project-video {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 3px 3px rgb(194, 194, 194, 0.5);
}

.js-challenge {
    padding: 0 25px;
    box-sizing: border-box;
    justify-self: center;
}

.js-challenge > video {
    width: 100%;
    border-radius: 3px;
    box-shadow: 3px 3px rgba(194, 194, 194, 0.5);
}

.js-challenge > video:nth-child(2) {
    margin-top: 5px;
}

.work-desc {
    border-radius: 3px;
    padding: 5px 20px;
    position: relative;
}

.work-desc > p {
    font-size: .8em;
    text-shadow: 1px 1px rgb(68, 68, 68);
    letter-spacing: var(--p-letter-spacing);
    margin-top: 7px;
    text-align: justify;
}

.small-portrait {
    width: 95%;
    box-sizing: border-box;
    padding: 25px 8px;
    border: 3px solid rgba(255, 248, 220, .8);
    box-shadow: 3px 3px rgba(255, 248, 220, .3);
    border-radius: 10px;
    display: none;
}

.rew, 
.fwd {
    position: absolute;
    font-size: 1.5em;
    font-weight: bold;
    bottom: 50%;
    z-index: 1;
    cursor: pointer;
}

.rew {
    /* display: none; */
    left: -15px;
}

.fwd {
    right: -15px;
}

.slide-position {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 5px;
}

.slide-position > div {
    width: 40px;
    height: 5px;
    margin: 0 5px;
    background-color: rgba(255, 248, 220, .3);
    border-radius: 2.5px;
    transition: all .25s;
}

.slide-position > div:nth-child(1) {
    background-color: rgba(255, 248, 220, .8);
}

@media screen and (min-width: 375px) {
    .work-title {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .work-desc > p {
        font-size: 1em;
        margin-top: 10px;
    }
}

@media screen and (min-width: 425px) {
    .js-challenge {
        padding: 0 55px;
    } 
}

@media screen and (min-width: 768px) {
    .work-item-container {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-areas: 
            "title title title"
            "video video video"
            "brief small-p small-p";
    }
    .work-title {
        font-size: 1.75em;
        grid-area: title;
        margin-bottom: 0;
    }
    .project-video {
        margin: 0;
        grid-area: video;
    }
    .js-challenge {
        margin-bottom: 20px;
        padding: 10px 65px;
        grid-area: video;
    }
    .work-desc {
        padding: 0 20px;
        box-sizing: border-box;
        justify-content: center;
        grid-area: brief;
    }
    .small-portrait {
        display: block;
        grid-area: small-p;
    }
    .rew, .fwd {
        font-size: 2em;
    }
}

@media screen and (min-width: 1200px) {
    .work-item-container {
        padding: 0;
        display: grid;
        grid-template-columns: 50% 30% 20%;
        grid-template-areas: 
            "title title title"
            "video brief small-p";
    }
    .js-challenge {
        display: flex;
        flex-direction: column;
    }

    .project-video {
        width: 95%;
        justify-self: center;
    }
    .small-portrait {
        width: 80%;
        justify-self: center;
    }
}