.work-main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    position: relative;
}

.work-slide {
    display: flex;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.work-item-container {
    /* background: linear-gradient(to right, var(--main-back-color), var(--main-back-color-deg), var(--main-back-color)), url(/src/images/work.jpeg);
    background-size: cover; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
    transition: all 2s;
    position: relative;
    border-radius: 5px;
    padding: 0 10px;
}

.project-video {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 3px 3px rgb(194, 194, 194, 0.5);
}

.js-challenge {
    padding: 0 25px;
    box-sizing: border-box;
}

.js-challenge > video {
    width: 100%;
    border-radius: 3px;
    box-shadow: 3px 3px rgba(194, 194, 194, 0.5);
}

.js-challenge > video:nth-child(2) {
    margin-top: 5px;
}

.work-presentation {
    flex-grow: 1;
    padding-top: 10px;
}

.work-desc {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 10px;
    border-radius: 3px;
}

.work-title {
    color: var(--title-color);
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px;
}

.project-link {
    color: var(--link-color);
    font-size: .5em;
    margin: 0 5px;
    font-weight: lighter;
}

.work-desc > p {
    font-size: .8em;
    color: var(--p-color);
    letter-spacing: var(--p-letter-spacing);
    margin-top: 5px;
    text-align: justify;
}

.small-portrait {
    width: 30%;
    box-sizing: border-box;
    padding: 25px 8px;
    margin: 10px 0;
    border: 3px solid rgba(255, 248, 220, .8);
    box-shadow: 3px 3px rgba(255, 248, 220, .3);
    border-radius: 10px;
    display: none;
}

.rew, 
.fwd {
    position: absolute;
    color: var(--link-color);
    font-size: 2em;
    bottom: 50%;
    z-index: 1;
}

.rew {
    display: none;
    /* left: 10px; */
}

.fwd {
    right: 0px;
}

.slide-position {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 5px;
}

.slide-position > div {
    width: 40px;
    height: 5px;
    margin: 0 5px;
    background-color: rgba(255, 248, 220, .3);
    border-radius: 2.5px;
    transition: all .25s;
}

.slide-position > div:nth-child(1) {
    background-color: rgba(255, 248, 220, .8);
}

@media screen and (min-width: 375px) and (min-height: 700px){
    .work-title {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .work-desc > p {
        font-size: 1em;
        margin-top: 10px;
    }
}

@media screen and (min-width: 425px) {
    .js-challenge {
        padding: 0 55px;
    }
    .work-desc > p {
        font-size: 1em;
        margin-top: 5px;
    }    
}


@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    .work-item-container {
        flex-direction: column-reverse;
    }
    .project-video {
        margin-top: 10px;
    }
    .work-presentation {
        display: flex;
        align-items: center;
        grid-area: area-a;
    }
    .work-title {
        font-size: 1.75em;
        margin: 0;
    }
    .work-desc {
        padding: 0 20px;
        justify-content: center;
    }
    .work-desc > p {
        margin-top: 10px;
    }
    .small-portrait {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .work-item-container {
        flex-direction: row;
    }
    .project-video {
        width: 55%;
        margin: 0;
    }
    .work-desc {
        width: 100%;
    }
    .small-portrait {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .js-challenge {
        width: 95%;
    }
    .project-video {
        width: 50%;
    }
}